body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
div.modal-content {
    background-color: black;
    color:white;
    text-align: center;
}

.modal-warning {
    text-align: center;
    color:red;
}

a.btn {
    
}